process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c680f2aea25ccec2' } }
process { withName: 'RCLONE_CHECK' { container = 'oras://community.wave.seqera.io/library/rclone:1.74.3--af6486c6ac506f82' } }
process { withName: 'RCLONE_CHECKSUM' { container = 'oras://community.wave.seqera.io/library/rclone:1.74.3--af6486c6ac506f82' } }
process { withName: 'RCLONE_COPY' { container = 'oras://community.wave.seqera.io/library/rclone:1.65.0--ff88b2e0040147be' } }
