process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--5c84a5000a226ab5' } }
process { withName: 'RCLONE_CHECK' { container = 'community.wave.seqera.io/library/rclone:1.74.3--351f8e39202b129a' } }
process { withName: 'RCLONE_CHECKSUM' { container = 'community.wave.seqera.io/library/rclone:1.74.3--351f8e39202b129a' } }
process { withName: 'RCLONE_COPY' { container = 'community.wave.seqera.io/library/rclone:1.65.0--ff88b2e0040147be' } }
