process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--c0468833d65b2f81' } }
process { withName: 'RCLONE_CHECK' { container = 'oras://community.wave.seqera.io/library/rclone:1.74.3--49a53709aa05d28d' } }
process { withName: 'RCLONE_CHECKSUM' { container = 'oras://community.wave.seqera.io/library/rclone:1.74.3--49a53709aa05d28d' } }
process { withName: 'RCLONE_COPY' { container = 'oras://community.wave.seqera.io/library/rclone:1.65.0--ff88b2e0040147be' } }
