/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'RCLONE_CHECKSUM' {
        tag = { "${meta.id}_${hash}" }
        ext.prefix = { "${meta.id}_checksum_${hash}" }
        ext.args = {
            def base_args = [
                '--no-check-certificate'
            ]
            if (params.download && meta.check_format == 'sha') {
                base_args.add("--download")
            }
            base_args.join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/rclone/checksum/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RCLONE_COPY' {
        ext.args = {
            def base_args = [
                '--log-level INFO',
                '--stats 30s',
                '--stats-one-line',
                '--stats-log-level INFO',
                '--s3-chunk-size 64M',
                '--no-check-certificate'
            ]
            if (params.rclone_dry_run) {
                base_args.add('--dry-run')
            }
            if (params.copy_matching_only) {
                base_args.add("--files-from ${filter_file}")
            }
            base_args.join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/rclone/copy" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RCLONE_CHECK' {
        ext.prefix = { "${meta.id}_check" }
        ext.args = {
            def base_args = [
                '--no-check-certificate',
                '--one-way'
            ]
            base_args.join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/rclone/check/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args = {
            def args = ['--custom-css-file */multiqc_custom.css']
            if (params.multiqc_title) {
                args.add("--title \"$params.multiqc_title\"")
            }
            args.join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
