/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running a real copy test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a real copy test.

    Use as follows:
        nextflow run nf-core/datasync -profile test_copy,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Real copy test profile'
    config_profile_description = 'Minimal test dataset to test copying to a local test destination'

    // Input data
    input = "${projectDir}/tests/assets/real_copy_samplesheet.csv"

    // Rclone options
    rclone_config      = params.pipelines_testdata_base_path + "test-data/rclone.conf"
    copy_matching_only = true
    download           = true
}
